# Python + Jupyter exercises

## 1) Write a list (the python word for an array) called `my_movies_list` with your 4 favorite movies or tv series
#### Hints:
- strings can have single quotes `''` or double quotes `""`
- list have square brackets `[ ]`

In [20]:
my_movies_list = ['monthy python', 'peaky blinders', 'sesamstraat', 'champions league']

## 2) Select the second and third element from your list
#### Hints:
- python starts counting at 0, so the second element gets index number 1

In [21]:
print(my_movies_list[1:3])


print(", ".join(my_movies_list[1:3]))

['peaky blinders', 'sesamstraat']
peaky blinders, sesamstraat

## 3) Select the last element from your list
#### Hints:
- the last element can be selected by using -1

In [16]:
print(my_movies_list[-1])

champions league


## 4) Write a (pythonic) for loop that loops through your movies list and prints them out
#### Hints:
- use 4 space indentation or a tab as indentation (although Jupyter will give you this automatically)

In [32]:
for movies in my_movies_list:
    print('    ' + movies)

    monthy python
    peaky blinders
    sesamstraat
    champions league

## 5) Create a dictionary (key -  value pairs) called `my_movies_dict` with the same four movies as keys and for each movie add as a value the rating on a scale of 0 to 10 you would give it
#### Hints:
- dictionaries use angular brackets, like this: `{}`
- an example would be {'God Father': 3}

In [23]:
my_movies_rating = [8,9,10,4]
my_movies_dict = dict(zip(my_movies_list, my_movies_rating))
print(my_movies_dict)

{'monthy python': 8, 'peaky blinders': 9, 'sesamstraat': 10, 'champions league': 4}
monthy python
peaky blinders
sesamstraat
champions league

## 6) Use a for loop to print every movie and it's rating of your dictionary:
#### Hints:
- `your_dict.items()` gives you all items
- `your_dict.keys()` gives you all the keys
- `your_dict.values()` gives you all the values
- you can get a value from a dictionary, when you do: `your_dict['key_name']` and this will return the value

In [43]:
for movies in my_movies_dict.items():
    print(movies)

for key, value in my_movies_dict.items():
    print(key, value)

for movies in my_movies_dict:
    print(movies + " " + str(my_movies_dict[movies]))

('monthy python', 8)
('peaky blinders', 9)
('sesamstraat', 10)
('champions league', 4)
monthy python 8
peaky blinders 9
sesamstraat 10
champions league 4
monthy python 8
peaky blinders 9
sesamstraat 10
champions league 4

## 7) Write a function called `rating_converter()` that takes as input a movie rating and multiplies it with 10 to convert your movie ratings to a scale of 1 to 100. The function should return the new movie rating.
#### Hints:
- functions start with `def()`
- what belongs inside a function should be indented by 4 spaces or a tab

In [51]:
def rating_converter(rating):
    return rating * 10

print(rating_converter(my_movies_rating))

[8, 9, 10, 4, 8, 9, 10, 4, 8, 9, 10, 4, 8, 9, 10, 4, 8, 9, 10, 4, 8, 9, 10, 4, 8, 9, 10, 4, 8, 9, 10, 4, 8, 9, 10, 4, 8, 9, 10, 4]

## 8) Try tab completion on your rating_converter() function by writing only the first few letters for example `rat` and then pressing the `Tab` key

In [ ]:
rating_converter

## 9) In the next exercises we are going to read in data with `pd.read_csv()`. Type `import pandas as pd` to import pandas and after that `pd.read_csv()` below and see what happens when you do `Shift + Tab` inside the brackets of `pd.read_csv()`. You can see all the arguments then.

In [38]:
import pandas as pd
pd.read_csv('most_voted_titles_enriched.csv')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genre1,...,country,primary_language,color,budget,opening_weekend_usa,gross_usa,cumulative_worldwide,tagline,summary,image_url
0,tt0010323,movie,The Cabinet of Dr. Caligari,Das Cabinet des Dr. Caligari,0,1920,NaN,76.0,"Fantasy,Horror,Mystery",Fantasy,...,Germany,NaN,Black and White,"$18,000",NaN,"$8,811","$8,811",You must become Caligari.,"Hypnotist Dr. Caligari uses a somnambulist, Ce...",https://m.media-amazon.com/images/M/MV5BNWJiNG...
1,tt0012349,movie,The Kid,The Kid,0,1921,NaN,68.0,"Comedy,Drama,Family",Comedy,...,USA,NaN,Black and White,"$250,000",NaN,NaN,"$26,916",This is the great film he has been working on ...,"The Tramp cares for an abandoned child, but ev...",https://m.media-amazon.com/images/M/MV5BZjhhMT...
2,tt0013442,movie,Nosferatu,"Nosferatu, eine Symphonie des Grauens",0,1922,NaN,94.0,"Fantasy,Horror",Fantasy,...,Germany,NaN,Black and White,NaN,NaN,NaN,"$19,054",A thrilling mystery masterpiece - a chilling p...,Vampire Count Orlok expresses interest in a ne...,https://m.media-amazon.com/images/M/MV5BMTAxYj...
3,tt0015324,movie,Sherlock Jr.,Sherlock Jr.,0,1924,NaN,45.0,"Action,Comedy,Romance",Action,...,USA,NaN,Black and White,NaN,NaN,"$977,375",NaN,every inch of footage holds such a laugh!,"A film projectionist longs to be a detective, ...",https://m.media-amazon.com/images/M/MV5BZWFhOG...
4,tt0015648,movie,Battleship Potemkin,Bronenosets Potemkin,0,1925,NaN,75.0,"Drama,History,Thriller",Drama,...,Soviet Union,NaN,Black and White,NaN,"$5,641,","$51,198","$61,389",The Sensational Russian Film which is astoundi...,In the midst of the Russian Revolution of 1905...,https://m.media-amazon.com/images/M/MV5BMTEyMT...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5825,tt9686708,movie,The King of Staten Island,The King of Staten Island,0,2020,NaN,136.0,"Comedy,Drama",Comedy,...,USA,English,Color,NaN,NaN,NaN,"$2,239,757",NaN,Scott has been a case of arrested development ...,https://m.media-amazon.com/images/M/MV5BYzkxMz...
5826,tt9698480,tvSeries,The Stranger,The Stranger,0,2020,2020.0,42.0,"Crime,Drama,Mystery",Crime,...,UK,English,Color,NaN,NaN,NaN,NaN,We All Have Secrets,Follows the lives of suburban families whose s...,https://m.media-amazon.com/images/M/MV5BNWNlYz...
5827,tt9777644,movie,Da 5 Bloods,Da 5 Bloods,0,2020,NaN,154.0,"Adventure,Drama,War",Adventure,...,USA,English,Color,NaN,NaN,NaN,NaN,NaN,Four African-American vets battle the forces o...,https://m.media-amazon.com/images/M/MV5BNjE4OD...
5828,tt9806192,movie,I Lost My Body,J'ai perdu mon corps,0,2019,NaN,81.0,"Animation,Drama,Fantasy",Animation,...,France,French,Color,NaN,NaN,NaN,"$1,136,431",An extraordinary journey in self-discovery.,"A story of Naoufel, a young man who is in love...",https://m.media-amazon.com/images/M/MV5BNDZjZj...
5829,tt9866072,movie,Holidate,Holidate,0,2020,NaN,103.0,"Comedy,Romance",Comedy,...,USA,English,Color,NaN,NaN,NaN,NaN,Who's Your Perfect Plus-One?,"Fed up with being single on holidays, two stra...",https://m.media-amazon.com/images/M/MV5BYWVmYT...

## 10) Also try tab completion by only writing `pd.read_` and then pressing the  `Tab` key.

In [40]:
pd.read_csv

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols: 'UsecolsArgType' = None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters: 'Mapping[Hashable, Callable] | None' = None, true_values: 'list | None' = None, false_values: 'list | None' = None, skipinitialspace: 'bool' = False, skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool | lib.NoDefault' = <no_default>, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool | lib.NoDefault' = <no_default>, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'str | dict[Hashable, str] | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool | lib.NoDefault' = <no_default>, low_memory: 'bool' = True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'>